* {
    box-sizing: border-box;
    font-family: 'Raleway'
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto'
}


/*********************
Header
*********************/

.Layout-header {
    background: #308d6c;
    width: 100%;
    color: white;
    overflow: auto;
}

.Layout-header h1 {
    margin-left: 30px;
    float: left;
}

.Layout-header ul {
    list-style: none;
    margin-right: 30px;
}

.Layout-header li {
    float: right;
    padding: 13px;
}

.Layout-header li:hover {
    color: #308d6c;
    background: white;
    cursor: pointer;
}


/*********************
Sidebar
*********************/

.Sidebar-container {
    padding-top: 10px;
    width: 20%;
    height: 800px;
    text-align: center;
    float: left;
    background: #e1f69d
}

.RouteItem:hover {
    background: #6a880c;
    color: white;
    cursor: pointer;
}

#pac-input {
    width: 50%;
}

.RouteItem {
    position: relative;
}

.RouteItem h3 {
    margin-bottom: 0;
}

.deleteButton {
    position: absolute;
    top: 0;
    left: 0;
}

.route {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}

.saveTripButton {
    display: block;
    margin: 10px auto 10px;
}

.upButton, .downButton {
    margin: 5px;
}


/*********************
Map
*********************/

.Map-container {
    width: 60%;
    height: 800px;
    float: left;
}

#map {
    height: 100%;
}


/*********************
POI Bar
*********************/

.POIBar-container {
    width: 20%;
    height: 800px;
    float: left;
    overflow-y: scroll;
    background: #5e5eab;
    color: white;
    text-align: center;
}

.POI {
    margin: 10px 0
}

.POI h4, .POI p {
    margin: 0;
}

.fa:hover {
    cursor: pointer;
}


/*********************
My Trips
*********************/

.savedTrips {
    list-style: none;
    padding: 10px;
    text-align: center;
}

.savedTrip {
    margin: 10px 0 15px;
}

.savedTrip:hover {
    background: black;
    color: white;
    cursor: pointer;
}


/*********************
Mobile
*********************/

.MobileBar {
    display: none;
}

@media (max-width: 680px) {
    .Sidebar-container, .Map-container, .POIBar-container {
        display: none;
    }
    .selected {
        width: 100%;
        display: block;
    }
    .MobileBar {
        display: block;
        width: 100%;
        background-color: #308d6c;
    }
    .MobileBarItem {
        width: 33.33%;
        height: 50px;
        display: inline-block;
        text-align: center;
        color: white;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    .MobileBarItem:hover {
        background: #6a880c;
        cursor: pointer;
    }
    .SelectedBarItem {
        background: #6a880c;
    }
}
